.THIS .grizz-col {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.THIS .bottom-header-content-region {
	margin-top: 4rem;
}

.THIS .top-header-content-region .ui-widget,
.THIS .bottom-header-content-region .ui-widget {
	margin-bottom: 2rem;
}

.THIS .dda-header-component {
	margin-bottom: 4rem;
	margin-top: 2rem;
}

.THIS .dda-header-component .slds-text-heading--small {
	font-weight: 300;
	font-style: italic;
}

.THIS .chart-left-region {}

.THIS .chart-right-region {}

.THIS .footer {
	text-align: center;
	margin: 1rem;
}
